:root {
    --primary: #E24E42;
    --secondary: #EB6E80;
    --tertiary: #008F95;
    --tertiary-dark: #30526A;
    --quaternary: #E9B000;
    --quinary:
    --senary: 
    --septenary: 
    --octonary: 
    --nonary:
    --denary:
}